{% extends "layout.twig" %}

{% block content %}

  <div class="row" style="padding: 10px">
    <div class="col-md-6">
      <div class="jumbotron">
        <h2>Oráculo da Mascada</h2>
        <ul>
          <li>Mantenha o controle de suas finanças.</li>
          <li>Compartilhe suas finanças e obtenha relatórios financeiros gratuitamente.</li>
        </ul>
          <p>
            <a href="{{ url('file', {type: 'files', file: 'downloads/desktop_v1.0.tar.gz'}) }}" class="btn btn-primary btn-lg">
              <i class="fa fa-desktop fa-fw"></i> Download
            </a>
          </p>
      </div>
    </div>
    <div class="col-md-6 text-center">
      <img src="{{ url('file', {type: 'files', file: 'img/desktop-01.png'}) }}" class="img-thumbnail img-responsive">
    </div>
  </div>

  <div class="row" style="padding: 10px">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Equipe</h1>
          </div>
        </div>
        <div class="row team">
          <div class="col-md-2">
            <img src="{{ url('file', {type: 'files', file: 'img/team/default.png'}) }}" class="img-circle img-responsive">
          </div>
          <div class="col-md-4">
            <h3>Diogo</h3>
            <p>Lorem ipsum dolor sit amet, adipiscing elit Aenean commodo ligula eget.</p>
          </div>
          <div class="col-md-2">
            <img src="{{ url('file', {type: 'files', file: 'img/team/luan-einhardt.jpg'}) }}" class="img-circle img-responsive">
          </div>
          <div class="col-md-4">
            <h3>Luan Einhardt</h3>
            <p>
              Graduando em Ciência da Computação - UFPel<br>
              <a href="mailto:ldseinhardt@inf.ufpel.edu.br">ldseinhardt@inf.ufpel.edu.br</a>
            </p>
          </div>
        </div>
        <div class="row team">
          <div class="col-md-2">
            <img src="{{ url('file', {type: 'files', file: 'img/team/default.png'}) }}" class="img-circle img-responsive">
          </div>
          <div class="col-md-4">
            <h3>Marcelo</h3>
            <p>Lorem ipsum dolor sit amet, adipiscing elit Aenean commodo ligula eget.</p>
          </div>
          <div class="col-md-2">
          <img src="{{ url('file', {type: 'files', file: 'img/team/default.png'}) }}" class="img-circle img-responsive">
          </div>
          <div class="col-md-4">
            <h3>Rodrigo Acosta</h3>
            <p>Lorem ipsum dolor sit amet, adipiscing elit Aenean commodo ligula eget.</p>
          </div>
        </div>
        <div class="row team">
          <div class="col-md-2">
            <img src="{{ url('file', {type: 'files', file: 'img/team/default.png'}) }}" class="img-circle img-responsive">
          </div>
          <div class="col-md-4">
            <h3>Rodrigo Oliveira</h3>
            <p>Lorem ipsum dolor sit amet, adipiscing elit Aenean commodo ligula eget.</p>
          </div>
          <div class="col-md-2">
            <img src="{{ url('file', {type: 'files', file: 'img/team/default.png'}) }}" class="img-circle img-responsive">
          </div>
          <div class="col-md-4">
            <h3>Wagner Oliveira Jr.</h3>
            <p>Lorem ipsum dolor sit amet, adipiscing elit Aenean commodo ligula eget.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block style %}
<style>
  .jumbotron h2 {
    font-size: 24pt;
  }

  .jumbotron ul li {
    font-size: 14pt;
  }

  img {
    width: auto;
    max-height: 255px;
  }
</style>
{% endblock %}
