{% extends "layout.twig" %}

{% block content %}

  <div class="container">
    <div class="row" style="padding: 10px">
      <div class="col-md-6 text-center" style="margin-bottom: 10px">
        <img src="{{ path('file', {file: 'images/desktop-01.png'}) }}" class="img-thumbnail img-responsive">
	<img src="{{ path('file', {file: 'images/desktop-graficos.png'}) }}" class="img-thumbnail img-responsive">
	<img src="{{ path('file', {file: 'images/barras_dispesas.png'}) }}" class="img-thumbnail img-responsive">
      </div>
      <div class="col-md-6">
        <div class="jumbotron">
          <h2>Oráculo da Mascada</h2>
          <ul>
		<li>Mantenha o controle de suas finanças.</li>
		<li>Com o Oráculo da Mascada, você é capaz de gerenciar suas despesas e receitas de forma fácil e intuitiva.</li>
		<li>Gere relatório com base nas suas contas ou com usuários de todo país.</li>

		<li>Como funciona?</li>

		<li>Crie  quantas contas desejar</li>
		<li>É sempre bom gerenciar seu dinheiro em todos lugares em que ele está. Por exemplo, você pode criar uma conta Carteira, Banco do Brasil, Cofrinho, etc.</li>

		<li>Adiciona suas receitas e despesas</li>
		<li>Ao adicionar ou editar, é possível customizar em vários pontos suas finanças. Marque se a transação já foi descontada ou não. Também é possível adicionar transações que irão ocorrer.</li>

		<li>Tenha um relatório personalizado</li>
		<li>Veja suas finanças por meio de gráficos, divididos entre categorias, podendo selecionar períodos entre qualquer data.</li>

		<li>Compare seus gastos com usuários de todo país</li>
		<li>A qualquer momento você poderá submeter seus dados, assim, poderá compará-los com todos usuários.</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row" style="padding: 10px">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <h1 class="text-center">Equipe</h1>
              <hr width="75%">
            </div>
          </div>
          <div class="row team">
            <div class="col-md-2">
              <img src="{{ path('file', {file: 'images/team/diogo.jpg'}) }}" class="img-circle img-responsive">
            </div>
            <div class="col-md-4">
              <h3>Diogo Lima</h3>
              <p>
                Graduando em Ciência da Computação - UFPel<br>
                <a href="mailto:dvlima@inf.ufpel.edu.br">dvlima@inf.ufpel.edu.br</a>
              </p>
            </div>
            <div class="col-md-2">
              <img src="{{ path('file', {file: 'images/team/luan_einhardt.jpg'}) }}" class="img-circle img-responsive">
            </div>
            <div class="col-md-4">
              <h3>Luan Einhardt</h3>
              <p>
                Graduando em Ciência da Computação - UFPel<br>
                <a href="mailto:ldseinhardt@inf.ufpel.edu.br">ldseinhardt@inf.ufpel.edu.br</a>
              </p>
            </div>
          </div>
          <div class="row team">
            <div class="col-md-2">
              <img src="{{ path('file', {file: 'images/team/marcelo.jpg'}) }}" class="img-circle img-responsive">
            </div>
            <div class="col-md-4">
              <h3>Marcelo Zschornack</h3>
              <p>
                Graduando em Ciência da Computação - UFPel<br>
                <a href="mailto:mvzschornack@gmail.com">mvzschornack@gmail.com</a>
              </p>
            </div>
            <div class="col-md-2">
            <img src="{{ path('file', {file: 'images/team/rodrigo_acosta.jpg'}) }}" class="img-circle img-responsive">
            </div>
            <div class="col-md-4">
              <h3>Rodrigo Acosta</h3>
              <p>
                Graduando em Ciência da Computação - UFPel<br>
                <a href="mailto:rdbacosta@inf.ufpel.edu.br">rdbacosta@inf.ufpel.edu.br</a>
              </p>
            </div>
          </div>
          <div class="row team">
            <div class="col-md-2">
              <img src="{{ path('file', {file: 'images/team/rodrigo_oliveira.jpg'}) }}" class="img-circle img-responsive">
            </div>
            <div class="col-md-4">
              <h3>Rodrigo Oliveira</h3>
              <p>
                Graduando em Ciência da Computação - UFPel<br>
                <a href="mailto:rdroliveira@inf.ufpel.edu.br">rdroliveira@inf.ufpel.edu.br</a>
              </p>
            </div>
            <div class="col-md-2">
              <img src="{{ path('file', {file: 'images/team/wagner.jpg'}) }}" class="img-circle img-responsive">
            </div>
            <div class="col-md-4">
              <h3>Wagner Oliveira Jr.</h3>
              <p>
                Graduando em Ciência da Computação - UFPel<br>
                <a href="mailto:wfdoliveira@inf.ufpel.edu.br">wfdoliveira@inf.ufpel.edu.br</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block style %}
  <style>
    .jumbotron h2 {
      font-size: 24pt;
    }

    .jumbotron ul li {
      font-size: 14pt;
    }

    img {
      width: auto;
      max-height: 265px;
    }
  </style>
{% endblock %}
