{% extends "layout.twig" %}

{% block title %}
  {{ parent() }} :: Modificar senha
{% endblock %}

{% block content %}

  <div class="container">
    <div class="col-sm-4 col-sm-offset-4 text-center">
      {% if response %}
        <div class="alert alert-dismissible alert-{% if response.status %}success{% else %}danger{% endif %}">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <div class="text-center"><strong>{{ response.message|nl2br }}</strong></div>
          {% if response.errors is defined and response.errors %}
            <div class="text-left">
              {% for error in response.errors %}
                <br>- {{ error }}
              {% endfor %}
            </div>
          {% endif %}
        </div>
      {% endif %}
      <div class="panel panel-default">
        <div class="panel-body">
          <form class="form-horizontal" method="POST">
            <fieldset>
              <h3>Modificar Senha</h3>
              <hr width="75%">
              <div class="form-group">
                <div class="col-sm-10 col-sm-offset-1">
                  <input type="password" class="form-control" id="oldpassword" name="oldpassword" placeholder="Senha atual" value="{{ user.oldpassword }}" minlength="3" maxlength="40" required autofocus>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-10 col-sm-offset-1">
                  <input type="password" class="form-control" id="password" name="password" placeholder="Nova Senha" value="{{ user.password }}" minlength="3" maxlength="40" required>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-10 col-sm-offset-1">
                  <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirmar nova senha" value="{{ user.password2 }}" minlength="3" maxlength="40" required>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-10 col-sm-offset-1">
                  <button type="submit" class="btn btn-raised btn-primary">Salvar</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
