{% extends "layout.twig" %}

{% block title %}
  {{ parent() }} :: Relatórios
{% endblock %}

{% block content %}

  <div class="container-fluid text-center">
    <div class="col-sm-4 col-md-3 text-center">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Filtrar dados</h3>
        </div>
        <div class="panel-body">
          <h3>Data</h3>
          <div class="btn-group btn-group-justified btn-group-raised ">
            <a href="#data_inicial" data-toggle="tab" class="btn btn-primary">Inicial</a>
            <a href="#data_final" data-toggle="tab" class="btn btn-primary active">Final</a>
          </div>
          <div class="tab-content">
            <div class="tab-pane fade" id="data_inicial">
              <div class="form-group">
                <input type="hidden" class="form-control" id="date_initial" name="date_initial" value="{{ data_inicial }}">
                <div id="date-initial" class="datetimepicker"></div>
              </div>
            </div>
            <div class="tab-pane fade active in" id="data_final">
              <div class="form-group">
                <input type="hidden" class="form-control" id="date_final" name="date_final" value="{{ data_final }}">
                <div id="date-final" class="datetimepicker"></div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <input type="text" class="form-control" id="location" name="location" placeholder="Localização" minlength="10" maxlength="128">
          </div>

          <div class="form-group">
            <input type="number" class="form-control" id="birthyear" name="birthyear" placeholder="Ano de nascimento" min="1901" max="2016">
          </div>

          <div class="form-group">
            <input type="text" class="form-control" id="occupation" name="occupation" placeholder="Profissão" maxlength="64">
          </div>

          <div class="form-group">
            <select id="education" name="education_id" class="form-control">
              <option value="">Escolaridade</option>
              <option value="1">Ensino fundamental incompleto</option>
              <option value="2">Ensino fundamental completo</option>
              <option value="3">Ensino médio incompleto</option>
              <option value="4">Ensino médio completo</option>
              <option value="5">Ensino superior completo</option>
              <option value="6">Curso de pós-graduação completo</option>
              <option value="7">Estudante de ensino fundamental ou ensino médio</option>
              <option value="8">Estudante de graduação ou pós-graduação</option>
            </select>
          </div>

          <div class="form-group">
            <button class="btn btn-raised btn-primary" id="filter">Filtrar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-8 col-md-9 text-center">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Relatórios</h3>
          <hr width="75%">
          <div class="panel panel-primary" id="transactions-per-month">
            <div class="panel-heading">
              <h3 class="panel-title">Transações ao longo dos meses</h3>
            </div>
            <div class="panel-body">
              <div class="col-sm-6">
                <div class="graph"></div>
              </div>
              <div class="col-sm-6">
                <div class="graph"></div>
              </div>
            </div>
          </div>

          <div class="panel panel-primary" id="transactions-per-day">
            <div class="panel-heading">
              <h3 class="panel-title">Transações ao longo dos dias</h3>
            </div>
            <div class="panel-body">
              <div class="col-sm-6">
                <div class="graph"></div>
              </div>
              <div class="col-sm-6">
                <div class="graph"></div>
              </div>
            </div>
          </div>

          <div class="panel panel-primary" id="expenses-by-category">
            <div class="panel-heading">
              <h3 class="panel-title">Despesas por categoria</h3>
            </div>
            <div class="panel-body">
              <div class="col-sm-6">
                <div class="graph"></div>
              </div>
              <div class="col-sm-6">
                <div class="graph"></div>
              </div>
            </div>
          </div>

          <div class="panel panel-primary" id="incomes-by-category">
            <div class="panel-heading">
              <h3 class="panel-title">Receitas por categoria</h3>
            </div>
            <div class="panel-body">
              <div class="col-sm-6">
                <div class="graph"></div>
              </div>
              <div class="col-sm-6">
                <div class="graph"></div>
              </div>
            </div>
          </div>

          <div class="panel panel-primary" id="expense-vs-income">
            <div class="panel-heading">
              <h3 class="panel-title">Despesas vs Receitas</h3>
            </div>
            <div class="panel-body">
              <div class="col-sm-6">
                <div class="graph"></div>
              </div>
              <div class="col-sm-6">
                <div class="graph"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{{ path('file', {type: 'vendor', file: 'eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css'}) }}">
  <style>
    .datepicker .active {
      background-color: #009688 !important;
    }

    .datepicker .day:not(.active)::before {
        border-bottom-color: #009688 !important;
    }

    .datepicker .day:not(.active):not(.disabled):hover,
    .datepicker .month:not(.active):not(.disabled):hover,
    .datepicker .year:not(.active):not(.disabled):hover,
    .datepicker .next:hover,
    .datepicker .picker-switch:hover,
    .datepicker .prev:hover {
      color: #111 !important;
    }
  </style>
{% endblock %}

{% block script %}
  <script src="{{ path('file', {type: 'vendor', file: 'moment/min/moment-with-locales.min.js'}) }}"></script>
  <script src="{{ path('file', {type: 'vendor', file: 'eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js'}) }}"></script>
  <script>
    $(function() {
      // https://developers.google.com/chart
      google.charts.load('current', {'packages':['corechart', 'bar', 'line'], 'language': 'pt-BR'});
      google.charts.setOnLoadCallback(drawCharts);

      function drawCharts() {
        /********************************************************
         Gráfico Despesas e Receitas por mês
        *********************************************************/

        $.post('/reports/transactions-per-month.json', {
          'date_initial': $('[name=date_initial]').val(),
          'date_final': $('[name=date_final]').val(),
          'location': $('[name=location]').val(),
          'birthyear': $('[name=birthyear]').val(),
          'occupation': $('[name=occupation]').val(),
          'education_id': $('[name=education_id]').val()
        }, function(data_report) {
          var container = $('#transactions-per-month .graph')[0];
          if (data_report && data_report.length) {
            var data = new google.visualization.DataTable();
            data.addColumn('date', 'mês');
            data.addColumn('number', 'Despesas');
            data.addColumn('number', 'Receitas');
            data.addRows(data_report.map(function(e) {
              return [new Date(e[0].replace(/\-/g, ', ')), e[1], e[2]];
            }));
            $(container).html('');
            var chart = new google.charts.Bar(container);
            chart.draw(data, {
              chart: {
                title: 'Todos os usuários'
              },
              height: 300,
              hAxis: {
                title: 'meses'
              },
              vAxis: {
                title: 'transações em reais'
              },
              colors: ['#F44336', '#4CAF50']
            });
          } else {
            $(container).html('<p align="center">Não há dados.</p>');
          }
        });

        $.post('/reports/transactions-per-month.json', {
          'user_email': '{{ userLogged.email }}',
          'date_initial': $('[name=date_initial]').val(),
          'date_final': $('[name=date_final]').val(),
          'location': $('[name=location]').val(),
          'birthyear': $('[name=birthyear]').val(),
          'occupation': $('[name=occupation]').val(),
          'education_id': $('[name=education_id]').val()
        }, function(data_report) {
          var container = $('#transactions-per-month .graph')[1];
          if (data_report && data_report.length) {
            var data = new google.visualization.DataTable();
            data.addColumn('date', 'mês');
            data.addColumn('number', 'Despesas');
            data.addColumn('number', 'Receitas');
            data.addRows(data_report.map(function(e) {
              return [new Date(e[0].replace(/\-/g, ', ')), e[1], e[2]];
            }));
            $(container).html('');
            var chart = new google.charts.Bar(container);
            chart.draw(data, {
              chart: {
                title: 'Minhas transações'
              },
              height: 300,
              hAxis: {
                title: 'meses'
              },
              vAxis: {
                title: 'transações em reais'
              },
              colors: ['#F44336', '#4CAF50']
            });
          } else {
            $(container).html('<p align="center">Não há dados.</p>');
          }
        });

        /********************************************************
         Gráfico Transações por dia
        *********************************************************/

        $.post('/reports/transactions-per-day.json', {
          'date_initial': $('[name=date_initial]').val(),
          'date_final': $('[name=date_final]').val(),
          'location': $('[name=location]').val(),
          'birthyear': $('[name=birthyear]').val(),
          'occupation': $('[name=occupation]').val(),
          'education_id': $('[name=education_id]').val()
        }, function(data_report) {
          var container = $('#transactions-per-day .graph')[0];
          if (data_report && data_report.length) {
            var data = new google.visualization.DataTable();
            data.addColumn('date', 'data');
            data.addColumn('number', 'Despesas');
            data.addColumn('number', 'Receitas');
            data.addRows(data_report.map(function(e) {
              return [new Date(e[0].replace(/\-/g, ', ')), e[1], e[2]];
            }));
            $(container).html('');
            var chart = new google.charts.Line(container);
            chart.draw(data, {
              chart: {
                title: 'Todos os usuários'
              },
              height: 300,
              hAxis: {
                title: 'dias'
              },
              vAxis: {
                title: 'transações em reais'
              },
              colors: ['#F44336', '#4CAF50']
            });
          } else {
            $(container).html('<p align="center">Não há dados.</p>');
          }
        });

        $.post('/reports/transactions-per-day.json', {
          'user_email': '{{ userLogged.email }}',
          'date_initial': $('[name=date_initial]').val(),
          'date_final': $('[name=date_final]').val(),
          'location': $('[name=location]').val(),
          'birthyear': $('[name=birthyear]').val(),
          'occupation': $('[name=occupation]').val(),
          'education_id': $('[name=education_id]').val()
        }, function(data_report) {
          var container = $('#transactions-per-day .graph')[1];
          if (data_report && data_report.length) {
            var data = new google.visualization.DataTable();
            data.addColumn('date', 'data');
            data.addColumn('number', 'Despesas');
            data.addColumn('number', 'Receitas');
            data.addRows(data_report.map(function(e) {
              return [new Date(e[0].replace(/\-/g, ', ')), e[1], e[2]];
            }));
            $(container).html('');
            var chart = new google.charts.Line(container);
            chart.draw(data, {
              chart: {
                title: 'Minhas transações'
              },
              height: 300,
              hAxis: {
                title: 'dias'
              },
              vAxis: {
                title: 'transações em reais'
              },
              colors: ['#F44336', '#4CAF50']
            });
          } else {
            $(container).html('<p align="center">Não há dados.</p>');
          }
        });

        /********************************************************
         Gráfico Despesas por categoria
        *********************************************************/

        $.post('/reports/expenses-by-category.json', {
          'date_initial': $('[name=date_initial]').val(),
          'date_final': $('[name=date_final]').val(),
          'location': $('[name=location]').val(),
          'birthyear': $('[name=birthyear]').val(),
          'occupation': $('[name=occupation]').val(),
          'education_id': $('[name=education_id]').val()
        }, function(data_report) {
          var container = $('#expenses-by-category .graph')[0];
          if (data_report && data_report.length) {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Categoria');
            data.addColumn('number', 'Valor');
            data.addRows(data_report);
            $(container).html('');
            var chart = new google.charts.Bar(container);
            chart.draw(data, {
              chart: {
                title: 'Todos os usuários'
              },
              bars: 'horizontal',
              height: 500,
              colors: ['#F44336']
            });
          } else {
            $(container).html('<p align="center">Não há dados.</p>');
          }
        });

        $.post('/reports/expenses-by-category.json', {
          'user_email': '{{ userLogged.email }}',
          'date_initial': $('[name=date_initial]').val(),
          'date_final': $('[name=date_final]').val(),
          'location': $('[name=location]').val(),
          'birthyear': $('[name=birthyear]').val(),
          'occupation': $('[name=occupation]').val(),
          'education_id': $('[name=education_id]').val()
        }, function(data_report) {
          var container = $('#expenses-by-category .graph')[1];
          if (data_report && data_report.length) {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Categoria');
            data.addColumn('number', 'Valor');
            data.addRows(data_report);
            $(container).html('');
            var chart = new google.charts.Bar(container);
            chart.draw(data, {
              chart: {
                title: 'Minhas transações'
              },
              bars: 'horizontal',
              height: 500,
              colors: ['#F44336']
            });
          } else {
            $(container).html('<p align="center">Não há dados.</p>');
          }
        });

        /********************************************************
         Gráfico Receitas por categoria
        *********************************************************/

        $.post('/reports/incomes-by-category.json', {
          'date_initial': $('[name=date_initial]').val(),
          'date_final': $('[name=date_final]').val(),
          'location': $('[name=location]').val(),
          'birthyear': $('[name=birthyear]').val(),
          'occupation': $('[name=occupation]').val(),
          'education_id': $('[name=education_id]').val()
        }, function(data_report) {
          var container = $('#incomes-by-category .graph')[0];
          if (data_report && data_report.length) {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Categoria');
            data.addColumn('number', 'Valor');
            data.addRows(data_report);
            $(container).html('');
            var chart = new google.charts.Bar(container);
            chart.draw(data, {
              chart: {
                title: 'Todos os usuários'
              },
              bars: 'horizontal',
              height: 150,
              colors: ['#4CAF50']
            });
          } else {
            $(container).html('<p align="center">Não há dados.</p>');
          }
        });

        $.post('/reports/incomes-by-category.json', {
          'user_email': '{{ userLogged.email }}',
          'date_initial': $('[name=date_initial]').val(),
          'date_final': $('[name=date_final]').val(),
          'location': $('[name=location]').val(),
          'birthyear': $('[name=birthyear]').val(),
          'occupation': $('[name=occupation]').val(),
          'education_id': $('[name=education_id]').val()
        }, function(data_report) {
          var container = $('#incomes-by-category .graph')[1];
          if (data_report && data_report.length) {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Categoria');
            data.addColumn('number', 'Valor');
            data.addRows(data_report);
            $(container).html('');
            var chart = new google.charts.Bar(container);
            chart.draw(data, {
              chart: {
                title: 'Minhas transações'
              },
              bars: 'horizontal',
              height: 150,
              colors: ['#4CAF50']
            });
          } else {
            $(container).html('<p align="center">Não há dados.</p>');
          }
        });

        /********************************************************
         Gráfico Despesas x Receitas
        *********************************************************/

        $.post('/reports/expense-vs-income.json', {
          'date_initial': $('[name=date_initial]').val(),
          'date_final': $('[name=date_final]').val(),
          'location': $('[name=location]').val(),
          'birthyear': $('[name=birthyear]').val(),
          'occupation': $('[name=occupation]').val(),
          'education_id': $('[name=education_id]').val()
        }, function(data_report) {
          var container = $('#expense-vs-income .graph')[0];
          if (data_report && data_report.length) {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'id');
            data.addColumn('number', 'Total');
            data.addRows(data_report);
            $(container).html('');
            var chart = new google.visualization.PieChart(container);
            chart.draw(data, {
              title: 'Todos os usuários',
              height: 300,
              colors: ['#F44336', '#4CAF50']
            });
          } else {
            $(container).html('<p align="center">Não há dados.</p>');
          }
        });

        $.post('/reports/expense-vs-income.json', {
          'user_email': '{{ userLogged.email }}',
          'date_initial': $('[name=date_initial]').val(),
          'date_final': $('[name=date_final]').val(),
          'location': $('[name=location]').val(),
          'birthyear': $('[name=birthyear]').val(),
          'occupation': $('[name=occupation]').val(),
          'education_id': $('[name=education_id]').val()
        }, function(data_report) {
          var container = $('#expense-vs-income .graph')[1];
          if (data_report && data_report.length) {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'id');
            data.addColumn('number', 'Total');
            data.addRows(data_report);
            $(container).html('');
            var chart = new google.visualization.PieChart(container);
            chart.draw(data, {
              title: 'Minhas transações',
              height: 300,
              colors: ['#F44336', '#4CAF50']
            });
          } else {
            $(container).html('<p align="center">Não há dados.</p>');
          }
        });
      }

      $('#location').autocomplete({
        serviceUrl: '/autocomplete/location/'
      });

      $('#occupation').autocomplete({
        serviceUrl: '/autocomplete/occupation/'
      });

      $('#education').change(function() {
        if ($(':selected', this).val() === '') {
          $(this).css('color', '#bdbdbd');
        } else {
          $(this).css('color', '#555');
        }
        $('option', this).css('color', '#555');
      });

      $('#education').trigger('change');

      var datetimepickers = $('.datetimepicker');

      datetimepickers.datetimepicker({
        inline: true,
        locale: 'pt-BR',
        format: 'L'
      });

      $(datetimepickers[0]).on('dp.change', function(evt) {
        $('#date_initial')
          .val(new Date(evt.date._d.valueOf()).toISOString().split(/T/)[0]);
      });
      $(datetimepickers[1]).on('dp.change', function(evt) {
        $('#date_final')
          .val(new Date(evt.date._d.valueOf()).toISOString().split(/T/)[0]);
      });

      $(datetimepickers[0]).data().DateTimePicker.defaultDate(new Date($('#date_initial').val()));

      $(datetimepickers[1]).data().DateTimePicker.defaultDate(new Date($('#date_final').val()));

      $('#filter').click(function() {
        drawCharts();
      });
    });
  </script>
{% endblock %}
